language: node_js
node_js:
- '6.9.1'


branches:
  only:
    - master

before_script:

script:
  - mkdir src  
  - mkdir dist
  - mv *.md src
  - cd src 
  - zip dep.zip
  - mv dep.zip ../dist

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: visualiza.tideapps.com
  skip_cleanup: true
  upload-dir: myFirstLambda
  local_dir: dist

notifications:
  email:
    on_failure: change
    on_success: change
